<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adc.da.business.dao.AnnounceEODao" >
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.adc.da.business.entity.AnnounceEO" >
    <id column="pkannounce" property="pkannounce" />
    <result column="createtime" property="createtime" />
    <result column="personnewskey" property="personnewskey" />
    <result column="state" property="state" />
    <result column="expriytime" property="expriytime" />
    <result column="content" property="content" />
    <result column="title" property="title" />
  </resultMap>



  <!-- ANNOUNCE table all fields -->
  <sql id="Base_Column_List" >
     createtime, personnewskey, state, expriytime, content, title, pkannounce
  </sql>

  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
      <if test="createtime != null" >
        and createtime ${createtimeOperator} #{createtime}
      </if>
      <if test="createtime1 != null" >
        and createtime &gt;= #{createtime1}
      </if>
      <if test="createtime2 != null" >
        and createtime &lt;= #{createtime2}
      </if>
      <if test="personnewskey != null" >
        and personnewskey ${personnewskeyOperator} #{personnewskey}
      </if>
      <if test="state != null" >
        and state ${stateOperator} #{state}
      </if>
      <if test="expriytime != null" >
        and expriytime ${expriytimeOperator} to_date(#{expriytime},'yyyy-MM-dd HH24:mi:ss')<!--Oracle处理字符串转换-->
      </if>
      <if test="expriytime1 != null" >
        and expriytime &gt; to_date(#{expriytime1},'yyyy-MM-dd HH24:mi:ss')<!--Oracle处理字符串转换-->
      </if>
      <if test="expriytime2 != null" >
        and expriytime &lt;= #{expriytime2}
      </if>
      <if test="content != null" >
        and content ${contentOperator} #{content}
      </if>
      <if test="title != null" >
        and title ${titleOperator} #{title}
      </if>
      <if test="pkannounce != null" >
        and pkannounce ${pkannounceOperator} #{pkannounce}
      </if>
    </trim>
  </sql>

  <!-- 插入记录 -->
  <insert id="insert" parameterType="com.adc.da.business.entity.AnnounceEO" >
    <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pkannounce">
        SELECT SEQ_ANNOUNCE.NEXTVAL FROM DUAL
    </selectKey> -->
    insert into ANNOUNCE(<include refid="Base_Column_List" />)
    values (#{createtime, jdbcType=TIMESTAMP}, #{personnewskey, jdbcType=VARCHAR}, #{state, jdbcType=INTEGER}, #{expriytime, jdbcType=TIMESTAMP}, #{content, jdbcType=VARCHAR}, #{title, jdbcType=VARCHAR}, #{pkannounce, jdbcType=VARCHAR})
  </insert>

  <!-- 动态插入记录 主键是序列 -->
  <insert id="insertSelective" parameterType="com.adc.da.business.entity.AnnounceEO" >
        <!-- <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="pkannounce">
        SELECT SEQ_ANNOUNCE.NEXTVAL FROM DUAL
    </selectKey> -->
        insert into ANNOUNCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
                <if test="createtime != null" >createtime,</if>
                <if test="personnewskey != null" >personnewskey,</if>
                <if test="state != null" >state,</if>
                <if test="expriytime != null" >expriytime,</if>
                <if test="content != null" >content,</if>
                <if test="title != null" >title,</if>
                <if test="pkannounce != null" >pkannounce,</if>
            </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
                <if test="createtime != null" >#{createtime, jdbcType=TIMESTAMP},</if>
                <if test="personnewskey != null" >#{personnewskey, jdbcType=VARCHAR},</if>
                <if test="state != null" >#{state, jdbcType=INTEGER},</if>
                <if test="expriytime != null" >#{expriytime, jdbcType=TIMESTAMP},</if>
                <if test="content != null" >#{content, jdbcType=VARCHAR},</if>
                <if test="title != null" >#{title, jdbcType=VARCHAR},</if>
                <if test="pkannounce != null" >#{pkannounce, jdbcType=VARCHAR},</if>
            </trim>
  </insert>

  <!-- 根据pk，修改记录-->
  <update id="updateByPrimaryKey" parameterType="com.adc.da.business.entity.AnnounceEO" >
    update ANNOUNCE
       set  createtime = #{createtime},
            personnewskey = #{personnewskey},
            state = #{state},
            expriytime = #{expriytime},
            content = #{content},
            title = #{title}
     where  pkannounce = #{pkannounce}
  </update>

  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.adc.da.business.entity.AnnounceEO" >
    update ANNOUNCE
    <set >
      <if test="createtime != null" >
        createtime = #{createtime},
      </if>
      <if test="personnewskey != null" >
        personnewskey = #{personnewskey},
      </if>
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="expriytime != null" >
        expriytime = #{expriytime},
      </if>
      <if test="content != null" >
        content = #{content},
      </if>
      <if test="title != null" >
        title = #{title},
      </if>
    </set>
     where pkannounce = #{pkannounce}
  </update>

  <!-- 根据id查询 ANNOUNCE -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List" /> 
      from ANNOUNCE
     where pkannounce = #{value}

  </select>

  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ANNOUNCE
     where pkannounce = #{value}
  </delete>

  <!-- ANNOUNCE 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer" parameterType="com.adc.da.business.page.AnnounceEOPage">
    select count(1) from ANNOUNCE
    <include refid="Base_Where_Clause"/>
  </select>

  <!-- 查询ANNOUNCE列表 -->
  <select id="queryByPage" resultMap="BaseResultMap" parameterType="com.adc.da.business.page.AnnounceEOPage">
	select <include refid="Base_Column_List" /> from
		(select tmp_tb.* , rownum rn from
			(select <include refid="Base_Column_List" /> from ANNOUNCE
			 <include refid="Base_Where_Clause"/>
			 <if test="pager.orderCondition != null and pager.orderCondition != ''" >
			 	${pager.orderCondition}
			 </if>
			) tmp_tb where rownum &lt;= ${pager.endIndex})
			where rn &gt;= ${pager.startIndex}
  </select>

  <select id="queryByList" resultMap="BaseResultMap" parameterType="com.adc.da.business.page.AnnounceEOPage">
    select <include refid="Base_Column_List"/> from ANNOUNCE
    <include refid="Base_Where_Clause"/>
    <if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
  </select>

    <select id="getAnnounce" resultType="com.adc.da.business.entity.AnnounceEO" parameterType="java.lang.String">
        select title,pkannounce from announce where expriytime > to_date(#{currentTime},'yyyy-MM-dd HH24:mi:ss')  Order By CREATETIME Desc
    </select>


</mapper>
